body {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
}

body, html, .screen { 
    height: 100%; 
}  

h1  {
    font-size: 3em;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    margin-bottom: 0.5em;
    font-size: 1.5em;
}

section { 
    min-height: 100%; 
    height: 60%;
    padding: 1em;
    margin: auto;
    width: 90%;  
} 

/*Classes*/

img.images {
    max-width: 325px;
    max-height: 600px;
}

.row {
    height: inherit;
    display: flex;           
    flex-direction: row;
    flex-wrap: wrap;  
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.downloadContainer {
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pad {
    padding: 10px;
}

/* Links */
a.whiteLink, a.whiteLink:visited, a.whiteLink:active{
    text-decoration: none;
    color: white;
}

a, a:visited, a:active{
    /* color: #61AE97; */
    color: #2F84F8;
}
/* IDs */
#home {
    background-color: #61AE97
}

#privacy {
    height: fit-content;
    background-color: #2C2F33;
}

#app {
    max-width: 100px; 
    height: auto; 
    border-top-left-radius: 22%; 
    border-top-right-radius: 22%; 
    border-bottom-right-radius: 22%; 
    border-bottom-left-radius: 22%;
    overflow: hidden; 
}

/*  Media Sizes */
/* 


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~



*/

/* Generic Mobile */
@media only screen and (max-width: 700px){
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1em;
    }
    img.images {
      width: 90px;
      height: auto;
    }
    #app {
        width: 65px;
    }
  }

  @media only screen and (max-height: 700px) {
    img.images {
        width: 90px;
        height: auto;
      }

      #app {
        width: 50px;
    }
        h1 {
            font-size: 2em;
        }
        h2 {
            font-size: 1em;
        }
  }
  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    img.images {
        width: 80px;
        height: auto;
      }
}

  @media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    img.images {
        width: 90px;
        height: auto;
      }

}
/* iPhone X Landscape */
  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    img.images {
        width: 100px;
        height: auto;
      }
}
/* iPhone X */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

    img.images {
        width: 100px;
        height: auto;
    }
    #app {
        width: 50px;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1em;
    }
}

/* iPad Vertical */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
      img.images {
          width: 180px;
          height: auto;
      }
}

/* iPad Vertical */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    img.images {
        width: 100px;
        height: auto;
    }
}

@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    img.images {
        width: 200px;
        height: auto;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    img.images {
        width: 200px;
        height: auto;
    }
}
/* iPad Pro 12.9 */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    img.images {
        width: 200px;
        height: auto;
    }
}
/* iPad  10.5 landscape */
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    img.images {
        width: 200px;
        height: auto;
    }
}
/* iPad Pro 12.9 */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    img.images {
        width: 220px;
        height: auto;
    }
}